/* --------------------------- */


body {
    background-color: red;
    /* background: #000; */
}







@media (max-width:786px) {
    body {
        /* background-color: black !important; */
        background: #000;
    }
}

@media (max-width:1000px) {
    body {
        /* background-color: black !important; */
        background: #000;
    }
}