/* --------------------------- */


body {
    background-color: red;
    /* background: #000; */
}
.bcolor {
    border-bottom: 3px solid #6bc449;
}
.nav-link:hover{
    color: #6bc449 !important;
}





@media (max-width:786px) {
    

}

@media (max-width:1024px) {
    

}