/* --------------------------- */


body {
    /* background-color: red; */
    /* background: #000; */
}







@media (max-width:786px) {
    body {
        /* background-color: black !important; */
        background: #000;
    }
}

@media (max-width:1000px) {
    body {
        /* background-color: black !important; */
        background: #000;
    }
}
.button1{
    background-color: #6bc449;
    width: 20%;
    margin-bottom: 20px;
    height: 36px;
}
.footer1{
    background-color: #000;
}
.color1{
    color: #6bc449;
}
.bg-image{
    background-image: url('');
}